<div class="container">
  <div class="wrap">
    <h3>Your Profile</h3>
    <%= render :partial => "user_icon", :locals => { :name => User.first.nick_name, :icon_path => User.first.icon_path } %>
    <table class="my_trend table table-striped table-hover ">
      <thead>
      <tr>
        <th>#</th>
        <th>項目</th>
        <th>スコア</th>
        <th>詳細</th>
      </tr>
      </thead>
      <tbody>
        <% @phenotypes.each do |phenotype| %>
            <tr>
              <td><%= phenotype.table.phenotype.table.display_name %></td>
              <td><%= phenotype.table.summary.table.score %></td>
              <td><%= phenotype.table.summary.table.text %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>